.header__lang-link {
  margin-right: 18px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: #ffffff;
  transition: opacity .2s linear;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
