.header__lang-link {
  margin-right: 18px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration: underline;
  color: #ffffff;
}

.header__lang-link:last-child {
  margin-right: 0;
  text-decoration-line: none;
}
