.footer__copyright {
  align-self: center;
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFFFF;
}

@media screen and (max-width: 585px) {
  .footer__copyright {
    align-self: end;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    align-self: start;
    margin-top: 48px;
    line-height: 14px;
  }
}
