.place__link {
  display: inline-block;
  margin-top: 12px;
  text-decoration: underline;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFFFF;
  transition: opacity .2s linear;
}

.place__link:hover {
  opacity: .8;
}
