.place {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, max-content);
  grid-template-rows: minmax(min-content, max-content) 3fr;
  gap: 48px 40px;
  margin-top: 80px;
}

.place:first-of-type {
  margin: 0;
}
