.page__places-wrap {
  max-width: 984px;
  margin: 0 auto;
  padding-right: 148px;
  padding-left: 148px;
}

@media screen and (max-width: 1028px) {
  .page__places-wrap {
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .page__places-wrap {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .page__places-wrap {
    padding-right: 0;
    padding-left: 0;
  }
}
